:root {
    --blue: #1e90ff;
    --background: green;
    --grid-frame: #6af70b;
    --white: #ffffff;
    --snake: #6af70b;
    --snake-head: green;
    --food: pink;
    --grid-light: #d7f8d9;
    --grid-dark: #bbf6be;
}

body {
    font-family: 'Press Start 2P';
    font-size: 22px;
    background: var(--background);
    color: #ffffff;
    line-height: 1.42857143;
    margin: 0;
}

.hidden {
    display: none;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grid-frame {
    width: 630px;
    height: 630px;
    background-color: var(--grid-frame);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

#grid {
    background-color: red;
}

.row {
    display: flex;
}

.grid-item {
    color: var(--white);
    height: 40px;
    width: 40px;
    font-size: 30px;
    text-align: center;
}

.grid-light {
    background-color: var(--grid-light);
}

.grid-dark {
    background-color: var(--grid-dark);
}

.snake {
    background-color: var(--snake);
}

.head {
    background-color: var(--snake-head);
}

.food::before {
    content: "🍎";
    color: var(--food);
}

#score {
    font-size: 30px;
    color: var(--white);
    height: 40px;
    display: flex;
}

.apple {
    margin-bottom: 2px;
}

#game-instructions {
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--white);
}